img {
    width: 100px;
    height: auto;
    margin-top: 7rem;
}

.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
    background: #42b0b4 !important;
    color: #fff !important;
}

.infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}